<div class="nav">
  <ng-container *ngIf="isLoggedIn()">
    <div class="left-container">
      <div class="nav-button" routerLink="/my-reservation" >
        {{ redirectionLink1 }}
      </div>    
      <div class="nav-button" routerLink="/flight-details">
        {{ redirectionLink2 }}
      </div>
    </div>
    <div class="right-container">
      <mat-icon class="icons" title="Log out" (click)="logout()">logout</mat-icon>
    </div>
  </ng-container>  
</div>