@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import '../../../styles.scss';

@mixin nav-hover($color) {
  cursor: pointer;
  color: $color;
}

%flex-details {
  display: flex;
  width: 55%;
  align-self: center;
}

.nav {
  display: flex;
  padding: 5px 10px;
  margin: 0 7px;
  border-bottom: 1px solid #e0e0e7;
  height: 40px;

  .left-container {
    @extend %flex-details;
    flex-direction: row;
    justify-content: space-around;
    padding: 4px;
    font-size: 20px;

    .nav-button:hover {
      border-bottom: 1px solid $highlight-color;
      @include nav-hover($color:$highlight-color);
    }
  }

  .right-container {
    @extend %flex-details;
    justify-content: flex-end;

    .icons {
      @include size($height: 33px, $width: 33px);
      font-size: 30px;
      color: white;
    }
    .icons:hover {
      @include nav-hover($color:black);
    }
  }
}