<div class="container-glass">
  <div class="page-header">
    <div id="user">Welcome back {{ user | uppercase }}.</div>
    <div id="hint">{{ hint }}</div>
  </div>

  <div id="ticket-container">
      <div *ngFor="let ticket of myReservationDetails; let index=index">   
        <div>
          <span><img src="../../../assets/Images/plane-icon.png"></span>              
        </div>     
        <table id="tickets">
          <tr>
            <td>Flight Name(ID): {{ticket['flightName']}} ({{ticket['flightId']}})</td>
            <td>Date of departure: {{ticket['dateOfDeparture'] | date: 'dd MMM YYYY HH:MM:SS' }}</td>
          </tr>
          <tr>
            <td>Country of departure: {{ticket['countryOfDeparture']}}</td>
            <td>Country of arrival: {{ticket['countryOfArrival']}}</td>
          </tr>
          <tr>
            <td colspan="2">Number of seats: Adults ({{ticket['numberOfSeatsBooked']['adult']}}) - Children ({{ticket['numberOfSeatsBooked']['child']}})</td>
          </tr>
          <tr>
            <td colspan="2">Cost of tickets: {{ticket['totalCost'] | moneyCustomPipe }}</td>
          </tr>
        </table>
        <div id="caption">Ticket {{ index + 1 }} - Booked on {{ticket['dateOfBooking'] | date: 'dd MMM YYYY' }}</div>
      </div>
  </div>
</div>