@import "../../../styles.scss";

#ticket-container {
  align-items: center;
  align-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 30px;

  img {
    height: 30px;
    padding: 3px;
  }
  #tickets {
    @include border(
      $borderSize: 0.5px,
      $borderColor: cadetblue,
      $borderRadius: 10px
    );
    box-shadow: 1px 1px 2px cadetblue;
    font-size: 16px;
    font-family: math;
    margin-top: -35px;
    padding: 10px;
    text-align: center;
    width: 600px;
  }
  #tickets:hover {
    box-shadow: 1px 1px 3px darkcyan;
  }
  #caption {
    color: darkcyan;
    font-size: 13px;
    padding: 5px;
    text-align: center;
  }
}
