<div class="container">
  <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <div class="container-input">
      <div class="icon"><mat-icon>account_circle</mat-icon></div>
      <input class="input-bar" matInput formControlName="firstname" id="firstname" placeholder="Enter your first name" />
    </div>

    <div class="container-input">
      <div class="icon"><mat-icon>account_circle</mat-icon></div>
      <input class="input-bar" matInput formControlName="lastname" id="lastname" placeholder="Enter your last name" />
    </div>

    <div class="container-input">
      <div class="icon"><mat-icon>mail</mat-icon></div>
      <input type="email" class="input-bar" matInput formControlName="email" id="email" placeholder="Enter your email address" />
    </div>
    <div style="margin-top: -15px" class="password-error" *ngIf="signUpForm.controls['email'].touched && signUpForm.controls['email'].invalid">
      <span>Enter a valid email address</span>
    </div>

    <div class="container-input">
      <div class="icon"><mat-icon>lock</mat-icon></div>
      <input class="input-bar" matInput formControlName="password" id="password" placeholder="Enter your password" type="password" />
    </div>

    <div class="container-input">
      <div class="icon"><mat-icon>lock</mat-icon></div>
      <input class="input-bar" matInput formControlName="confirmPassword" id="confirmPassword" placeholder="Confirm your password" type="password" (keyup)="isPasswordSame()" />
    </div>
    <div class="password-error">{{ passwordError }}</div>

    <div class="container-btn">
      <button type="submit" title="click to login" [disabled]="!signUpForm.valid" [ngClass]="signUpForm.valid ? 'green-btn' : 'disabled-btn'">Sign up</button>
      <button type="reset" title="click to reset" class="red-btn">Clear</button>
    </div>
  </form>
</div>