@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import '../../../styles.scss';

.container {
  padding-top: 10px;
}

.container-input {
  margin-bottom: 10px;
}

.password-error {
  color: $red-color;
  text-align: center;
}
