@import "../../../styles.scss";

#form-container {
  align-items: center;
  display: flex;
  flex-direction: column;

  div {
    align-items: center;
    display: flex;    
    justify-content: space-evenly;
  }
  label {    
    color: darkslategrey;
    font-size: 18px;
    padding: 7px;
    text-align: right;
    width: 50px;
  }
  select {
    border: none;
    border-bottom: 1px solid darkslategray;
    color: midnightblue;
    font-size: 16px;
    height: 35px;
    margin-bottom: 20px;
    min-width: 200px;
  }
}

#container-btn-1 {
  column-gap: 30px;
  display: flex;
  justify-content: center;
  margin-top: 15px; 
  margin-bottom: 20px;
}

#flights-available {
  margin-left: 10%;
  width: 80%;  

  #tickets {  
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    width: 100%;
  }
  table tr {
    border-bottom: 1px solid $gray-color;
    height: 35px;    
  }
  .selectflight {
    @include button($color: $green-color, $fontSize: 13px);
    @include size($height: 20px, $width: 100px);
    @include border($borderSize: 1px, $borderColor: $green-color, $borderRadius: 10px);
  }
  .selectflight:hover {
    @extend %btn-hover;
    background-color: $green-color;
  }
  .disable-btn {
    @include border($borderSize: 1px, $borderColor: rgb(154, 155, 155), $borderRadius: 10px);
    @include size($height: 20px, $width: 100px);
    background-color: transparent;
    color: $gray-color;    
    font-size: 13px;
  }
}
