<div class="container-glass">
  <div class="page-header">
    <div id="user">Welcome {{ user | uppercase }}.</div>
    <div id="hint">Search for a flight:</div>
  </div>

  <form [formGroup]="flightInformationForm" (ngSubmit)="searchFlight()">
    <div id="form-container">
      <div>
        <label for="flightSource">From: </label>
        <select formControlName="flightSource" id="departure">
          <option *ngFor="let element of countryList" [disabled]="disableElement('flightDestination', element)" [value]="element['country']">
            <span>{{ element["country"] }} ({{ element["airport"] }})</span>
          </option>
        </select>
      </div>

      <div>
        <label for="flightDestination">To: </label>
        <select formControlName="flightDestination" id="flightDestination">
          <option *ngFor="let element of countryList" [disabled]="disableElement('flightSource', element)" [value]="element['country']">
            <span>{{ element["country"] }} ({{ element["airport"] }})</span>
          </option>
        </select>
      </div>
    </div>
    <div id="container-btn-1">
      <button type="submit" [disabled]="!flightInformationForm.valid" [ngClass]="flightInformationForm.valid ? 'green-btn' : 'disabled-btn'">Search</button>
      <button (click)="clear()" class="red-btn">Clear</button>
    </div>
  </form>

  <div id="flights-available" *ngIf="flightInformationFiltered.length >0">
    <table id="tickets">
      <tr>
        <th>S.N</th>
        <th>Flight Name</th>
        <th>Date of departure</th>
        <th>Seats available</th>
        <th></th>
      </tr>
      <tr *ngFor="let flightInfo of flightInformationFiltered;let index=index">
        <td>{{ index+1 }}</td>
        <td>{{ flightInfo["name"] }}</td>
        <td>{{ flightInfo["dateOfDeparture"] | date: 'dd MMM YYYY' }}</td>
        <td>{{ flightInfo["availability"] }}</td>
        <td>
          <button (click)="selectFlight(flightInfo['id'])" [disabled]="canBook(flightInfo['availability']) == false"
            [ngClass]="canBook(flightInfo['availability']) ? 'selectflight' : 'disable-btn'">Select flight</button>
        </td>
      </tr>
    </table>
  </div>
</div>