<div id="container">
  <div id="title">
    <p id="title-line-1">{{ title }}</p>
    <p id="title-line-2">{{ subtitle }}</p>
  </div>
  
  <div id="tab-container">
    <mat-tab-group animationDuration="1000ms" mat-stretch-tabs="false" dynamicHeight>
      <mat-tab label="Sign In">
        <app-sign-in></app-sign-in>
      </mat-tab>
      <mat-tab label="Sign Up">
        <app-sign-up></app-sign-up>
      </mat-tab>
    </mat-tab-group>
  </div>  
</div>