@mixin text($fontSize, $margin, $color) {
  font-size: $fontSize;
  margin: $margin;
  color: $color;
}

#container {
  width: 62%;
  margin-top: 25px;

  #title {
    margin-left: 30px;
  
    #title-line-1 {
      @include text($fontSize:50px, $margin:0, $color:steelblue);
      text-shadow: 2px 1px 1px black;
    }
    #title-line-2 {
      @include text($fontSize:35px, $margin:10px, $color:teal);
      text-shadow: 3px 2px 2px #a1a1a1;
    }
  }
  
  #tab-container {
    margin-left: 5%;
    width: 70%;
    padding: 0 5%;
    padding-top: 2px;
  }
}

::ng-deep .mat-mdc-tab-labels {
  justify-content: space-evenly !important;
  color: darkcyan;
}