<div class="container">
  <form [formGroup]="signInForm" (ngSubmit)="signIn()">
    <div id="error" *ngIf="loginError !== null">{{ loginError }}</div>

    <div class="container-input">
      <div class="icon"><mat-icon>mail</mat-icon></div>
      <input class="input-bar" matInput formControlName="email" id="email" required placeholder="Enter your email address" />
    </div>
    <div id="error-message">
      <span *ngIf="signInForm.controls['email'].touched && signInForm.controls['email'].invalid">Enter a valid email address</span>
    </div>

    <div class="container-input">
      <div class="icon"><mat-icon>lock</mat-icon></div>
      <input class="input-bar" matInput type="password" formControlName="password" id="password" required placeholder="Enter your password" />
    </div>

    <div class="container-btn">
      <button type="submit" title="click to login" [disabled]="!signInForm.valid" [ngClass]="signInForm.valid ? 'green-btn' : 'disabled-btn'">Login</button>
      <button class="red-btn" type="reset" (click)="clear()" title="click to reset">Clear</button>
    </div>
  </form>
</div>