@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import '../../../styles.scss';

#error {
  align-content: center;
  color: $red-color;
  font-size: 17px;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

#error-message {
  color: $red-color;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
