@import "../styles.scss";

#container {
  @include size($height: 95vh, $width: 100%);
  display: flex;
  flex-direction: column;

  #main-container {
    @include size($height: 95vh, $width: 100%);
    @include border($borderSize:0.5px, $borderColor:rgb(148, 143, 143), $borderRadius:10px);
    background-image: url("../assets/Images/cover-image.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 5px 5px 10px rgb(135, 136, 140); 
    overflow-y: hidden;
  }
  #router-outlet {
    height: calc(100% - 55px);
  }
}
