// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat.core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $booking-primary: mat.define-palette(mat.$indigo-palette);
// $booking-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $booking-warn: mat.define-palette(mat.$red-palette);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $booking-theme: mat.define-light-theme((
//   color: (
//     primary: $booking-primary,
//     accent: $booking-accent,
//     warn: $booking-warn,
//   )
// ));

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include mat.all-component-themes($booking-theme);

/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$border-color: rgb(148, 143, 143);
$green-color: seagreen;
$red-color: coral;
$gray-color: slategray;
$highlight-color: teal;

@mixin size($height, $width) {
  height: $height;
  width: $width;
}

@mixin border($borderSize, $borderColor, $borderRadius) {
  border: $borderSize solid $borderColor;
  border-radius: $borderRadius;
}

@mixin button($color, $fontSize) {
  background-color: transparent;
  font-size: $fontSize;
  color: $color;
  box-shadow: 1px 1px $color;
}

%btn-hover {
  color: white;
  box-shadow: 1px 1px rgb(5, 5, 5);
  cursor: pointer;
}

.container-glass {
  @include size($height: 96%, $width: 98%);
  @include border($borderSize: 1px, $borderColor: $gray-color, $borderRadius: 10px);
  background-color: white;
  margin: 1%;
  opacity: 91%;
  overflow-y: auto;

  .page-header {
    color: $highlight-color;
    border-bottom: 1px solid $highlight-color;
    margin-bottom: 15px;
    width: 50%;
    margin-left: 25%;
    font-size: 23px;
    text-align: center;

    div {
      margin: 10px 0;
    }
  }
}

.container-btn {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-evenly;
  margin-top: 30px;
}
.disabled-btn {
  @include border($borderSize: 1px, $borderColor: rgb(154, 155, 155), $borderRadius: 10px);
  @include size($height: 40px, $width: 100px);
  color: $gray-color;
  background-color: transparent;
  font-size: 17px;
}
.green-btn {
  //sign-in-btn
  @include button($color: $green-color, $fontSize: 17px);
  @include size($height: 40px, $width: 100px);
  @include border($borderSize: 1px, $borderColor: $green-color, $borderRadius: 10px);
}
.green-btn:hover {
  @extend %btn-hover;
  background-color: $green-color;
}
.red-btn {
  //clear-btn
  @include button($color: $red-color, $fontSize: 17px);
  @include size($height: 40px, $width: 100px);
  @include border($borderSize: 1px, $borderColor: $red-color, $borderRadius: 10px);
}
.red-btn:hover {
  @extend %btn-hover;
  background-color: $red-color;
}

.container-input {
  @include size($height: 40px, $width: 80%);
  margin-left: 10%;
  display: flex;
  flex-direction: row;

  .icon {
    @include size($height: 40px, $width: 40px);
    @include border($borderSize: 1px, $borderColor: $gray-color, $borderRadius: 5px);
    align-items: center;
    color: $gray-color;
    display: flex;
    justify-content: center;
  }
  .input-bar {
    @include size($height: 30px, $width: 100%);
    @include border($borderSize: 1px, $borderColor: $gray-color, $borderRadius: 5px);
    text-align: center;
    padding: 5px 0;
  }
}
