@import "../../../styles.scss";

img {
  height: 30px;
  margin-left: 25%;
  padding: 3px;
}

.ticket {
  @include border($borderSize: 0.5px, $borderColor: cadetblue, $borderRadius: 10px);
  box-shadow: 1px 1px 2px cadetblue;
  font-size: 16px;
  font-family: math;
  margin-top: -25px;
  margin-left: 25%;
  padding: 10px;
  text-align: center;
  width: 50%;

  td {
    padding: 2px;
  }
  td:nth-child(1) {
    text-align: right;
    width: 40%;
  }
  td:nth-child(2) {
    text-align: left;
    padding-left: 50px;
  }
  input {
    width: 100px;
    @include border($borderSize: 0.5px, $borderColor: cadetblue, $borderRadius: 5px);
  }
}
.ticket:hover {
  box-shadow: 1px 1px 3px darkcyan;
}

.container-btn {
    margin-left: 25% !important;
    width: 50% !important;
}
