<div class="container-glass">
  <div class="page-header">
    <div id="user">Welcome back {{ bookedBy | uppercase }}.</div>
    <div id="hint">{{hint}}</div>
  </div>
  
  <form [formGroup]="bookingForm" (ngSubmit)="confirmBooking()">
    <div>
      <div>
        <span><img src="../../../assets/Images/plane-icon.png"></span>              
      </div> 
      <table class="ticket" *ngIf="flightInformation.length > 0">
        <tr>
          <td>Flight Name(ID):</td>
          <td>{{flightInformation[0]['name']}} ({{flightInformation[0]['id']}})</td>
        </tr>
        <tr>
          <td>Date of departure:</td>
          <td>{{flightInformation[0]['dateOfDeparture'] | date: 'dd MMM YYYY'}}</td>
        </tr>
        <tr>
          <td>Time of departure:</td>
          <td>{{flightInformation[0]['dateOfDeparture'] | date: 'HH:MM:SS'}}</td>
        </tr>
        <tr>
          <td>Flight capacity:</td>
          <td>{{flightInformation[0]['capacity']}}</td>
        </tr>
        <tr>
          <td>Seats Available:</td>
          <td>{{flightInformation[0]['availability']}}</td>
        </tr>
        <tr>
          <td>From:</td>
          <td>{{ flightInformation[0]['origin']}}</td>
        </tr>
        <tr>
          <td>To:</td>
          <td>{{ flightInformation[0]['destination']}}</td>
        </tr>
        <tr>
          <td>Date of booking:</td>
          <td>{{today | date: 'dd MMM YYYY' }}</td>
        </tr>
        <tr>
          <td>Distance:</td>
          <td>{{ flightInformation[0]['distance'] | distanceCustomPipe }}</td>
        </tr>
        <tr>
          <td>Duration of flight:</td>
          <td>{{ flightInformation[0]['duration'] }}</td>
        </tr>
        <tr>
          <td>Booked by:</td>
          <td>{{ bookedBy }}</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>{{ email }}</td>
        </tr>
        <tr>
          <td>Adult:</td>
          <td>{{ flightInformation[0]['ticketCostAdult'] | moneyCustomPipe }} × <input id="adultTicket" formControlName="adultTicket" type="number" min="0"> = <input id="adultPrice" formControlName="adultPrice"></td>
        </tr>
        <tr>
          <td>Child:</td>
          <td>{{ flightInformation[0]['ticketCostChild'] | moneyCustomPipe }} × <input id="childTicket" formControlName="childTicket" type="number" min="0"> = <input id="childPrice" formControlName="childPrice"></td>
        </tr>
        <tr>
          <td>Total cost:</td>
          <td>Rs <input formControlName="totalPrice" id="totalPrice"></td>
        </tr>
      </table>
    </div>
    <div class="container-btn">
      <button type="submit" title="click to confirm" [disabled]="!bookingForm.valid" [ngClass]="bookingForm.valid? 'green-btn' : 'disabled-btn'">Confirm</button>
      <button class="red-btn" type="reset" title="click to reset" (click)="clearForm()">Cancel</button>
    </div>
  </form>
</div>